* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, rgba(23, 26, 35, 2) 0%, #171A23 100%);
    min-height: 100vh;
}
@font-face {
    font-family: Gilroy ;
    src: url("../fonts/gilroy-regular.ttf");
}
@font-face {
    font-family: VerbenaC ;
    src: url("../fonts/verbenac.otf");
}
@font-face {
    font-family: Circe ;
    src: url("../fonts/circe_bold.ttf");
}
@font-face {
    font-family: RoadRadio ;
    src: url("../fonts/roadradio_bold.otf");
}
a,p,h2,h3,h4,h5,h6 {
    text-decoration: none;
    font-family: Gilroy ,sans-serif;
}
h1{
    font-family: RoadRadio,sans-serif;
}
a:hover {
    color: #FFFFFF;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    box-sizing: content-box;
}
/*----header-------------------------------------------------------------------------*/
#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #27D1CE;
    box-shadow: 0 0 4px rgba(39, 209, 206, 0.5);
    margin: 0 5px 0 0;
}
.lani-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.you{
    font-family: Gilroy,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.fa-phone{
    font-size: 20px;
    color: #FFFFFF;
}
.big{
    margin: 0 50px 0 0;
}
.hand{
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn{
    width: 230px;
    height: 60px;
    background: #27D1CE;
    border-radius: 6px;
    border: none;
}
.btn a {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.forms{
    opacity: 0.15;
    border: 1px solid #FFFFFF;
    margin: 1rem 0 0 0 ;
}




/*----main-------------------------------------------------------------------------*/

#main {
    background: url("../img/image 16.svg") no-repeat center/cover;
    min-height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

.sit {
    width: 769px;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 85%;
    text-align: center;
    color: #FFFFFF;
}

.ced-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ced {
    width: 570px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 13px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven {
    width: 270px;
    height: 76px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    opacity: 0.8;
    filter: blur(58px);
    border-radius: 6px;
}

.seven-btn {
    position: absolute;
    width: 260px;
    height: 66px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    border: none;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}


.modal-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    /*!*position: absolute;*!*/
    /*margin-left: 476.5px;*/
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    /*z-index: 999;*/
}

.tool__one {
    width: 310px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    margin-top: -100px;
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    cursor: pointer;
}

/*----about-------------------------------------------------------------------------*/


#about {
    margin-top: 50px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blocks-one {
}

.logon {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.big-ipsa {
    width: 474px;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.project {
    width: 449px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #a29e9e;
    margin: 20px 0 0 0;
}

.span {
    color: #FFFFFF;
}

.quasi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}
.quasi img {
    margin: -3px 5px 0 0;
}

.ret {
    width: 476px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #a29e9e;
}

.sunt {
    background: linear-gradient(90deg, #F63588 0.93%, #F19932 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.ring {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #a29e9e;
    margin: -17px 0 0 0;
}

.black {
    width: 432px;
    height: 326px;
    background: #1F232E;
    border-radius: 6px;
}

.code {
    position: absolute;
    margin-left: 320px;
    margin-top: -30px;
    font-family: VerbenaC, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 119.91%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.2;
    transform: rotate(10.13deg);
}

.image {
    width: 400px;
    margin: 25px 23px 24px 10px;
}

.img {
    width: 100px;
}

/*----pages-------------------------------------------------------------------------*/

#pages {
    max-width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
    margin-top: 131px;
}

.color {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color h6 {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 0 0 0;
}

.color div {
    color: #FFFFFF;
    padding: -12px 0 0 0;
}


/*----content-------------------------------------------------------------------------*/


#content {
    background: url("../img/5f9512109039131 1.svg") no-repeat center /cover;
    min-height: 140vh;
    position: relative;
}

.content {
    width: 100%;
    min-height: 140vh;
    background: linear-gradient(180deg, #171A23 0%, rgba(23, 26, 35, 0.57) 52.4%, #171A23 100%);
}

.amet-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 88px 0 0 0;
}

.amet {
    width: 690px;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.dolor {
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.lani {
    width: 60px;
    height: 60px;
    background: #27D1CE;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img__one {
    margin: 18px 0 0 18px;
}

.file {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
}

.vel {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.under {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 7px;
    margin-bottom: 70px;
}


/*----block-------------------------------------------------------------------------*/

#block {
    padding: 100px 0 0 0;
}

.wrung {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow:  wrap;
}

.current {
    position: relative;
    z-index: 2;
    margin-top: -100px;
}

.image__one {
    width: 310px;
}

.ours {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 10px;
}

.enum {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.anim {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.tons {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}

.ton {
    padding: 15px 25px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    border: none;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.ton__one {
    padding: 15px 25px;
    border: 1px solid #27D1CE;
    border-radius: 6px;
    background: transparent;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #27D1CE;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.wrung__one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.tool {
    width: 310px;
    height: 380px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    margin-top: -100px;
}

.questions {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions__one {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 25px;
}

.your {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 250px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: inset 0 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #BCBCBC;
}

.call {
    margin-bottom: 10px;
}

.will-onw {
    display: flex;
    justify-content: center;
    align-items: center;
}

.will {
    width: 250px;
    height: 65px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #27D1CE;
    border-radius: 10px;
    border: none;
}

/*----pages1-------------------------------------------------------------------------*/


#pages1 {
    max-width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
    margin-top: 131px;
}

/*----footer-------------------------------------------------------------------------*/

#footer {
}

.back--one {
    margin-top: 88px;
}

.back {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.eou {
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.leave {
    width: 90%;
    position: relative;
    margin: 0 20px 20px 0;
}

.edit {
    position: absolute;
    z-index: 999;
    width: 70px;
    margin-left: -200px;
    margin-top: 80px;

}

.leave-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.classic {
    display: flex;
    align-items: center;
}

.line-to {
    display: flex;
    align-items: center;
}

.one {
    margin: 20px 0 0 0;
}

.blacks {
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 120px;
}


.fa-telegram {
    font-size: 25px;
    margin: 12px 12px;
}

.fuse {
    font-size: 23px;
    margin: 13px 14px;
}

.fa-whatsapp {
    font-size: 25px;
    margin: 12px 14px;
}

.fa-instagram {
    font-size: 25px;
    margin: 12px 14px;
}

.fas-one {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 0 10px;
}

.contact {

    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0 10px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.fa-phone {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 10px;
}

.tel {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 31px;
    color: #FFFFFF;
    text-decoration: none;
}

.fa-envelope {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 10px;
}

.email {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.fa-location-dot {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 10px;
}

.map {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 27px;
    color: #FFFFFF;
}

.online {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0 10px;
}

.marks {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-wrap: wrap;
    margin-top: 40px;
}

.once {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.gle {
    width: 90%;
    margin-bottom: 20px;
}

.iframe {
    width: 420px;
    height: 279px;
    border-radius: 14px;
    border: none;
}

.connect {
    width: 100%;
    height: 60px;
    background: #1F232E;
    border-radius: 6px;
    margin-top: 100px;
}

.shock {
    margin: 23px 0 0 0;
}

.iframes{
    cursor: pointer;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    position: absolute;
    margin-left: 457px;
}

.video {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
}

.yew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
}

.duke{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration-line: underline;
}
.worker{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.9;
}

@media (max-width: 400px) {
    .nav--one {
        padding-left: 165px;
    }
}